.breadcrumbs {
    margin-top: 60px; /* Adjust this value to match the height of the header */
    padding: 10px 20px;
    background-color: cornsilk;
    border-bottom: 1px solid cornsilk;
  }
  
  .breadcrumbList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .breadcrumbList li {
    margin-right: 10px;
  }
  
  .breadcrumbList li a {
    color: #007bff;
    text-decoration: none;
  }
  
  .breadcrumbList li a:hover {
    text-decoration: underline;
  }
  